*{
    background-color: rgba(245, 144, 95, 1);
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

/* .main p{
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
} */

#pyqs{
    align-self: center;
    font-weight: 700;
    font-size: 3rem;
}

.main_content_box{
    background-color: white;
    height: 380px;
    width: 100%;
    /* display: flex; */
    /* position: absolute;
    bottom: 0; */
    border-radius: 25px;   
    /* margin: 20px;
    margin: 20px; */
}

.row1{
    display: flex; 
    justify-content: space-around;
    background-color: white;
    /* border-radius: 25px; */
    align-items: center;
    align-content: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.box1{
    height: 450px;
    width: 32%;
    /* background-color: yellow; */
    margin-top: 20px;
    border-radius: 25px;
    justify-content: center;
    justify-items: center; 
    align-items: center;
    align-content: center;
    text-align: center;
     /* text-align: ;  */
    color: white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgba(252, 99, 131, 1); */
}

#row1-box1{
    background-color: rgba(252, 99, 131, 1);
}

#img1{
    background-color: rgba(252, 99, 131, 1);
}

#row1-box1 p{
    background-color: rgba(252, 99, 131, 1);   
}

#row1-box2{
    background-color: rgba(116, 110, 255, 1);
}

#img2{
    background-color: rgba(116, 110, 255, 1);
}

#row1-box2 p{
    background-color: rgba(116, 110, 255, 1); 
}

#row1-box3{
    background-color: rgba(234, 160, 52, 1);
}

#row1-box3 p{
    background-color: rgba(234, 160, 52, 1);
}

#img3{
    background-color: rgba(234, 160, 52, 1);
}

.row2{
    display: flex; 
    justify-content: space-around;
    background-color: white;
    /* border-radius: 25px; */
    align-items: center;
    align-content: center;
}

#row1-box4{
    background-color: rgba(80, 198, 39, 1);
}

#row1-box4 p{
    background-color: rgba(80, 198, 39, 1);
}

#img4{
    background-color: rgba(80, 198, 39, 1);
}

#row1-box5{
    background-color: rgba(255, 225, 119, 1);
}

#row1-box5 p{
    background-color: rgba(255, 225, 119, 1);
}

#img5{
    background-color: rgba(255, 225, 119, 1);
}

#row1-box6{
    background-color: rgba(39, 221, 169, 1);
}

#row1-box6 p{
    background-color: rgba(39, 221, 169, 1);
}

#img6{
    background-color: rgba(39, 221, 169, 1);
}